---
import { Image } from 'astro:assets';
import arbejde1 from '../assets/images/arbejde1.webp';
import arbejde2 from '../assets/images/arbejde2.webp';
import arbejde3 from '../assets/images/arbejde3.webp';
import arbejde4 from '../assets/images/arbejde4.webp';
import arbejde5 from '../assets/images/arbejde5.webp';
import arbejde6 from '../assets/images/arbejde6.webp';
---

<div class="bg-[#E6D2D3] -m-10 mt-10 text-[#214B3F] lg:-mx-16">
    <div>
<h2 class="uppercase text-[20px] text-center pt-8 pb-8 lg:text-[40px]">Tidligere projekter</h2>
</div>

<div class="lg:grid lg:grid-cols-2 lg:gap-8">
<div>
    <p class="mx-16 pb-2 lg:px-12 lg:text-[20px]" >Webshop prototype i Adobe XD</p>
        <h3 class="mx-16 font-bold text-[#c17f81] text-[14px] lg:px-12 lg:text-[16px]" >LINK TIL PROTOTYPE</h3>
        <a class="mx-16 text-[#c17f81] text-[14px] lg:px-12 lg:text-[16px] " href="https://xd.adobe.com/view/62584e68-fa96-4fe3-9158-76b2bdd94972-370b/screen/9264b7bc-5394-41eb-a598-222a9b1054ac">https://prototype/xd.adobe.com</a>
    <div class="flex justify-center pt-4">
    <Image class="w-80 lg:w-[500px]" src={arbejde1} alt="webshop prototype i Adobe XD"></Image>
    </div>
</div>

<div>
    <p class="mx-16 pb-2 pt-10 lg:px-12 lg:text-[20px]" >Kodet eget spil + tegnet illustrationer i Illustrator</p>
    <h3 class="mx-16 font-bold text-[#c17f81] text-[14px] lg:px-12 lg:text-[16px]">LINK TIL WEBSITE</h2>
            <a class="mx-16 text-[#c17f81] text-[14px] lg:px-12 lg:text-[16px]" href="https://lna-mediedesign.dk/spilwebsite/index.html">https://lna-mediedesign.dk/spilwebsite </a>
    <div class="flex justify-center pt-4">
    <Image class="w-80 lg:w-[500px]" src={arbejde2} alt="Mit eget spil"></Image>
    </div>
</div>

<div>
    <p class="mx-16 pb-2 pt-10 lg:px-12 lg:text-[20px]" >Prototype i Figma af Festival of Endless Gratitude</p>
    <h3 class="mx-16 font-bold text-[#c17f81] text-[14px] lg:px-12 lg:text-[16px]">LINK TIL PROTOTYPE</h2>
    <a class="mx-16 text-[#c17f81] text-[14px] lg:px-12 lg:text-[16px]" href="https://www.figma.com/file/VJf0D9Ft87p5VbJPClR6wr/Redesign-tema-8?type=design&node-id=1%3A3&mode=design&t=rtAwKFYhzb2xmBZU-1">https://prototype/figma.com</a>
    <div class="flex justify-center pt-4">
    <Image class="w-80 lg:w-[500px]" src={arbejde3} alt="Prototype af festival of endless gratitude i figma"></Image>
    </div>
</div>

<div>
    <p class="mx-16 pb-2 pt-10 lg:px-12 lg:text-[20px]" >Bæredygtigt redesign af OneBrick <br>(Darkmode/Lightmode)</p>

    <h3 class="mx-16 font-bold text-[#c17f81] text-[14px] lg:px-12 lg:text-[16px]">LINKS TIL WEBSITE OG PROTOTYPE</h2>
    <a class="mx-16 text-[#c17f81] text-[14px] lg:px-12 lg:text-[16px]" href="https://onebrick.netlify.app/">https://onebrick.dk</a>
    <br>
    <a class="mx-16 text-[#c17f81] text-[14px] lg:px-12 lg:text-[16px]" href="https://www.figma.com/file/XW43yWMo02IZUYezqoR2IL/Klodser?type=design&node-id=76%3A1035&mode=design&t=0og4uSm4O09COEqT-1">https://protototype/onebrick.com</a>
 
    <div class="flex justify-center">
    <Image class="w-80 pt-4 lg:w-[500px]" src={arbejde4} alt="Bæredygtig hjemmeside for Onebrick"></Image>
    </div>
</div>

<div>
    <p class="mx-16 pb-2 pt-10 lg:px-12 lg:text-[20px]" >Redesign af digital skraldedag med fokus på grafikker og brugervenlighed</p>
    <h3 class="mx-16 font-bold text-[#c17f81] text-[14px] lg:px-12 lg:text-[16px]">LINK TIL WEBSITE</h2>
    <a class="mx-16 text-[#c17f81] text-[14px] lg:px-12 lg:text-[16px]" href="https://digitalcleanupday-site.netlify.app/?fbclid=IwAR2uv-M8x_A5flkH1FPehLVJNofTI0MUB7j2X6Kcu3cxOUnTObZHeGkwIQw">https://digitalcleanupday.com</a>

    <div class="flex justify-center">
    <Image class="w-80 pt-4 lg:w-[500px]" src={arbejde5} alt="Redesign af digital skraldedag"></Image>
    </div>
</div>

<div>
    <p class="mx-16 pb-2 pt-10 lg:px-12 lg:text-[20px]" >Responsivt redesign af Copenhagen Light Festival</p>
    <h3 class="mx-16 font-bold text-[#c17f81] text-[14px] lg:px-12 lg:text-[16px]">LINK TIL WEBSITE</h2>
    <a class="mx-16 text-[#c17f81] text-[14px] lg:px-12 lg:text-[16px]" href="https://cphlf.netlify.app/">https://cphlf.dk</a>

    <div class="flex justify-center pt-4">
    <Image class="w-80 pb-10 lg:w-[500px]" src={arbejde6} alt="Redesign af Copenhagen Light Festival"></Image>
    </div>
</div>

</div>
</div>